*,
*::after,
*::before {
  box-sizing: border-box;
}
.heading {
  padding-top: 25px;
  padding-bottom: 25px;
}
.body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.dark {
  background-color: black;
}
.main-navigation {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}
.header__list {
  list-style-type: none;
  padding-left: 0px;
}
.header__item {
  display: inline-block;
  margin-right: 72px;
}

.header__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ff0000;
}

.fourth-item {
  margin-right: 0px;
}
.main__title {
  margin-top: 48px;
  margin-bottom: 38px;
  text-align: center;
}
.main__text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0 68px;
}
.main__text-two {
  margin-top: 28px;
  margin-bottom: 66px;
}
.image {
  width: 100%;
}
.button {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  width: 191px;
  height: 51px;
  padding: 18px 42px;
  background: #ff0000;
  border-radius: 4px;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.footer {
  padding-bottom: 29px;
  padding-top: 40px;
  padding-right: 105px;
}
.footer__text {
  text-align: right;
}
